.App {
  text-align: center;
}

.Top-bar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

  .Top-text {
    color: #212529;
  }

  .Filter {
    font-family: SF Pro Display;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .type-filter {
    background: #F8F9FA;
    border-radius: 4px;
    border: none;
    padding: 5px 3px;
    margin-left: 10px;
    outline: none;
  }

.App-header {
  background-color: #E5E5E5;
}

.plus-img {
  border-radius: 50%;
  border: none;
  background: #F8F9FA;
  outline: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.plus-img:focus {
  background-color: #E8F4FF;
}

.dropdown {
  position: relative;
  display: flex;
  margin-left: 10px;
  align-items: center;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.dropdown-content {
  display: none;
}

.dpdButton {
  display: flex;
  justify-content: center;
}

.cancelButton {
  background-color: #F8F9FA;
  border-radius: 4px;
  border: none;
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 21px;
}

.enterButton {
  background-color: #478CC8;
  border-radius: 4px;
  margin-left: 5px;
  border: none;
  color: #ffffff;
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 21px;
height: 21px;
padding: 5px;
display: flex;
align-items: center;
}

.dropdown-content-visible {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 45px;
  left: -60px;
  padding: 12px 24px;
}