.common-column {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.each-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    margin-right: 30px;
}

.head-block {
    display: flex;
    align-items: center;
}

.logo-block {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}